$primary-dark: rgba(53, 54, 54, 0.8);
$primary-light: rgba(245, 245, 245);
$secondary-color: rgba(133, 115, 83);
$add-color: rgb(175, 126, 135);
$bg-color: rgba(218, 218, 215);
$shadow-light: rgb(241, 241, 241);
$shadow-dark: rgb(182, 182, 182);
$font-serif: "Rufina", serif;
$font-sans: "Poppins", sans-serif;
