@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import "./variables";
@import "./mixins";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: $font-sans;
  font-weight: 400;
  background-color: $bg-color;
  color: $primary-dark;
}

*::selection {
  background-color: $primary-light;
}

*::-moz-selection {
  background-color: $primary-light;
}

h1 {
  position: relative;
  font-family: $font-serif;
  font-size: 100pt;
  font-weight: 700;
  letter-spacing: -0.8rem;
  text-transform: uppercase;
  color: $bg-color;
  @include neumo-text;

  & .vertical {
    position: absolute;
    transform: translate(-26px, -119px);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -2.5rem;
  }

  &::after {
    content: url("../assets/line-welcome.svg");
    margin-left: 4px;
  }
}

h2 {
  // width: 100%;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: -0.1rem;
  text-align: center;
  color: rgba($primary-dark, 0.7);
}

h3 {
  font-family: $font-serif;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -0.3rem;
  text-align: center;
  color: $primary-dark;
  text-shadow: 2px 2px 1px rgba($shadow-light, 0.7), 6px 6px 6px rgba($shadow-dark, 0.3);

  &::after {
    content: url("../assets/line-h3.svg");
    position: relative;
    display: block;
    height: 46px;
    top: -20px;
  }
}

h4 {
  font-family: $font-serif;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -0.3rem;
  color: rgba($secondary-color, 0.8);
  text-shadow: 2px 2px 1px rgba($shadow-light, 0.7);
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: rgba($primary-dark, 0.7);
}

p,
li {
  padding: 0.3em 0;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  text-align: justify;
  text-shadow: 2px 2px 5px rgba($shadow-dark, 0.3);
}

li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

a {
  cursor: pointer;
  font-family: $font-sans;
  font-weight: 600;
  letter-spacing: -0.05rem;
  text-decoration: none;
  background-color: transparent;
  color: $add-color;
  border: 0;
  outline: transparent;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-sans;
  font-weight: 600;
  border: 0;
  border-radius: 3rem;
  background-color: rgb($bg-color, 0.6);
  color: $primary-dark;
  outline: transparent;
  @include neumorphism;

  &:hover {
    @include neumorphism-hover;
  }

  &:active {
    @include neumorphism-active;
  }
}

main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

section {
  min-height: 80vh;
  max-width: 80vw;
  position: relative;
  padding-top: 12vh;
}

header {
  height: 100px;
  width: 100%;

  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5vw;
  z-index: 5;

  transition: height 0.5s ease-in-out;

  & nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    z-index: 1994;
  }

  & .logo {
    height: 7vh;
    margin-top: 3rem;
    z-index: 1;
  }
}

form {
  width: 80%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 0;
  font-size: 1.4rem;

  input,
  textarea {
    max-width: 100%;
    min-height: 4rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: inherit;
    border: 0;
    border-radius: 3rem;
    background-color: $bg-color;
    color: inherit;
    appearance: none;
    @include neumorphism-hover;

    &,
    &:focus {
      outline: transparent;
    }
  }

  & textarea {
    min-height: 5rem;
    resize: vertical;
  }

  & label {
    margin-left: 2rem;
    font-weight: 500;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  @include neumorphism-active;
}

input[type="submit"] {
  width: 50%;
  align-self: center;

  &:active {
    @include neumorphism-active;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: $font-sans;
  -webkit-text-fill-color: $primary-dark;
  background-color: $bg-color;
  @include neumorphism-active;
  transition: background-color 5000s ease-in-out 0s;
}

footer {
  width: 100%;
  padding: 2rem 0;
  color: $primary-dark;

  & p {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
  }
}

.nav-menu a {
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba($shadow-dark, 0.5);
  & .nav-num {
    padding-right: 0.7rem;
    font-style: italic;
    font-size: 1.1rem;
    color: rgba($secondary-color, 0.8);
  }
}

.socials {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

.social-link,
.project-link {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  border-radius: 50%;
  @include neumorphism;

  &:hover {
    @include neumorphism-hover;
  }

  &:active {
    @include neumorphism-active;
  }
}

i {
  font-size: 2.5rem;
  color: $add-color;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  & button {
    width: 5rem;
    height: 5rem;
    margin-top: 5rem;
  }
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-box {
  width: 100%;
  max-width: 500px;
  flex: 1 1 49%;
  padding: 5em;
  border-radius: 64% 36% 40% 60% / 47% 40% 60% 53%;
  @include neumorphism;
  @include neumorphism-active;

  & img {
    width: 100%;
    display: block;
    border: 0.1rem solid $shadow-dark;
    border-radius: 64% 36% 40% 60% / 47% 40% 60% 53%;
    @include neumorphism;
  }
}

.separator {
  flex: 0 1 8%;
}

.about-me-box {
  max-width: 500px;
  flex: 1 1 49%;
  justify-self: flex-start;

  & li {
    font-weight: 600;

    &::before {
      content: "";
      height: 0;
      width: 0;
      left: -1.5rem;
      top: 1.3rem;
      position: relative;
      display: block;
      border-color: transparent $primary-light;
      border-style: solid;
      border-width: 0.35rem 0 0.35rem 0.45rem;
    }
  }
}

.projects,
.projects-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;

  & .project-img {
    min-width: 50rem;
    position: relative;

    & img {
      width: 100%;
      display: block;
      padding: 2rem;
      border-radius: 3rem;
      background-color: $bg-color;
      -webkit-filter: grayscale(60%);
      filter: grayscale(60%);
      transition: filter 0.2s ease-in-out;
      @include neumorphism-active;

      &:hover {
        -webkit-filter: unset;
        filter: unset;
      }
    }
  }

  & .project-info {
    max-width: 60em;
    min-width: 35em;
    min-height: 80%;
    max-height: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 30px;
    border: solid 2px transparent;
    border-radius: 3em;
    text-align: right;

    @include glass;
    border: solid 2px transparent;

    transform: translateX(-60px);
    transition: transform 0.7s ease-in-out;

    z-index: 2;

    & .project-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.project-card:nth-of-type(odd) .project-img {
  transform: translateX(60px);
  transition: transform 0.7s ease-in-out;
}
.project-card:nth-of-type(odd) .project-info {
  transform: translateX(-60px);
  transition: transform 0.7s ease-in-out;
}

.project-card:nth-of-type(even) .project-img {
  transform: translateX(-60px);
}

.project-card:nth-of-type(even) .project-info {
  transform: translateX(60px);
  & h4 {
    text-align: left;
  }
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
  }
}

.wave-effect:hover {
  background-image: url("../assets/line-hover.svg");
  padding-bottom: 0.5em;
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  animation: wave 3s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0 80%;
  }
  100% {
    background-position: 300px 80%;
  }
}

.sticky-header {
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  @include glass;
  border: 0;
  border-bottom: solid 2px transparent;
  // box-shadow: 2px 2px 5px rgba($shadow-dark, 0.5);
  transition: position 0.5s ease-in-out, height 0.5s ease-in-out;
}

.fixed-email {
  position: fixed;
  bottom: 185px;
  left: -14rem;
  transform: rotate(-90deg);

  & a {
    letter-spacing: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }

  & img {
    width: 20rem;
    position: relative;
    top: 1rem;
  }
}

.btn-menu {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: $bg-color;
  overflow: hidden;
  z-index: 1989;

  display: none;
  @include neumorphism-hover;

  & .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  & .burger {
    position: relative;
    transition-timing-function: ease-in;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 30px;
      height: 3px;
      background-color: $primary-light;
      border-radius: 20px;
      transition: 500ms;
      box-shadow: 2px 2px 2px rgba($shadow-dark, 0.3);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }
}

.btn-menu_open .burger {
  transform: translateX(100px);
  background-color: transparent;
  box-shadow: unset;

  &::before {
    transform: rotate(45deg) translate(-71px, 71px);
  }

  &::after {
    transform: rotate(-45deg) translate(-71px, -71px);
  }
}

.nav-menu_open {
  width: 67vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 2%;

  @include glass;
  border: 0;
  border-left: solid 2px transparent;

  display: none;

  li {
    margin: 3rem 0;
  }

  & a {
    font-size: 5rem;
  }
}

@import "./media";
